.additionally-list {
  padding-bottom: 12px;
}

.additionally-list__item {
  position: relative;

  margin-bottom: 25px;

  &:active {
    opacity: 0.5;
  }
}

.additionally-list__value {
  padding-left: 46px;
}

.additionally-list__item::before {
  content: "";
  position: absolute;
  top: -7px;

  width: 28px;
  height: 28px;

  border: 1px solid #cecece;

  &:hover {
    border: 1px solid #cdcdcd;
  }
}

.additionally-list__check-box {
  content: "";
  position: absolute;
  left: 5px;

  display: none;
  width: 21px;
  height: 16px;

  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.additionally-list__window:checked + .additionally-list__check-box {
  display: block;
}

@media (min-width: $tablet-width) {
  .additionally-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 653px;
    padding-bottom: 7px;
  }

  .additionally-list__item {
    padding-right: 125px;
    margin-bottom: 55px;
  }

  .additionally-list__value {
    padding-left: 57px;
  }

  .additionally-list__item::before {
    width: 38px;
    height: 38px;
  }

  .additionally-list__check-box {
    top: 4px;
    left: 10px;
  }

  .additionally-list__value--padding {
    margin-right: 38px;
  }
}

@media (min-width: $desktop-width) {
  .additionally-list {
    flex-wrap: wrap;
    width: 1160px;
  }

  .additionally-list__item {
    padding-right: 0;
    padding-bottom: 9px;
    width: 325px;
  }

  .additionally-list__item:nth-child(4) {
    width: 185px;
  }
}
