.additional {
  width: 280px;
  margin: 0 auto;
}

.additional__header {
  position: relative;

  margin: 0;
  padding-top: 28px;
  padding-bottom: 34px;

  @include font(24px, 24px, 400);

  border-bottom: 1px solid #e6e6e6;
}

.additional__header::before {
  content: "";
  position: absolute;
  top: 42px;
  left: 249px;

  width: 53px;
  height: 3px;

  background-color: $main-color;
}

.additional__list {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .additional {
    width: 708px;
  }

  .additional__header {
    padding-top: 64px;
    padding-bottom: 79px;
    padding-left: 38px;

    @include font(36px, 36px, 400);
  }

  .additional__header::before {
    top: 86px;
    left: 412px;

    width: 328px;
  }

  .additional__header::after {
    content: "";
    position: absolute;
    top: 86px;
    left: -32px;

    width: 29px;
    height: 3px;

    background-color: $main-color;
  }
}

@media (min-width: $desktop-width) {
  .additional {
    margin-bottom: 85px;
    margin-left: 110px;
  }

  .additional__header {
    padding-top: 74px;
    padding-bottom: 80px;
    padding-left: 0;

    border-bottom: none;
  }

  .additional__header::after {
    top: 96px;
    left: -110px;

    width: 70px;
  }

  .additional__header::before {
    top: 96px;
    left: 373px;

    width: 957px;
  }
}
