.additional-product {
  border-bottom: 1px solid #e6e6e6;

  list-style: none;

  &--border {
    border-top: 1px solid #e6e6e6;
  }
}

.additional-product__title {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 16px;

  @include font(16px, 16px, 400);
  text-transform: uppercase;
}

.additional-product__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;

  @include font(14px, 14px, 400);
  font-family: $second-font;
}

.additional-product__button {
  margin-bottom: 18px;
}

@media (min-width: $tablet-width) {
  .additional-product__title {
    padding-top: 28px;
    padding-bottom: 27px;

    @include font(20px, 20px, 400);
  }

  .additional-product__wrapper {
    width: 226px;
    padding-top: 33px;

    @include font(16px, 20px, 400);
  }

  .additional-product__item {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 632px;
  }

  .additional-product__button {
    width: 633px;
    margin-left: 38px;
  }
}

@media (min-width: $desktop-width) {
  .additional-product {
    display: flex;
    justify-content: space-between;
    width: 895px;
  }

  .additional-product__item {
    margin-left: 0;
  }

  .additional-product__button {
    width: 245px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
