.additional {
  width: 280px;
  margin-left: 20px;
}

.additional__header {
  margin: 0;
  padding-top: 32px;
  padding-bottom: 31px;

  @include font(24px, 24px, 400);

  border-bottom: 1px solid #e6e6e6;
}

.additional__list {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .additional {
    width: 708px;
    margin-left: 30px;
  }

  .additional__header {
    padding-top: 72px;
    padding-bottom: 76px;

    @include font(36px, 36px, 400);
  }
}

@media (min-width: $desktop-width) {
  .additional {
    margin-left: 110px;
    margin-bottom: 85px;
  }
}
