.button {
  width: 280px;
  padding-top: 14px;
  padding-bottom: 12px;

  font-weight: 400;
  text-transform: uppercase;
  color: white;

  &--green {
    background-color: $main-color;
  }
  &--grey {
    color: #444444;
    background-color: #f2f2f2;
  }
  border: none;
}
