.comment__window {
  width: 280px;
  min-height: 134px;
  padding-top: 12px;

  @include font(16px, 18px, 400);
  text-transform: uppercase;
  text-align: center;

  border: 1px solid #e6e6e6;
}

@media (min-width: $tablet-width) {
  .comment__window {
    margin-left: 40px;
    padding-left: 20px;
    padding-top: 9px;
    width: 609px;
    min-height: 161px;

    @include font(20px, 30px, 400);
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .comment__window {
    width: 1200px;
    margin-left: 0;
  }
}
