.contacts-list__item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 9px;
}

.contacts-list__value {
  margin-top: 15px;
}

.contacts-list__window {
  flex-grow: 1;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 15px;

  text-transform: uppercase;

  border: 1px solid #e6e6e6;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active {
    border: 1px solid black;
  }

  &:invalid {
    border: 1px solid red;
  }
}

.contacts-list__image {
  position: absolute;
  top: 15px;
  left: 247px;

  &--top {
    top: 20px;
  }

  &:active {
    fill: #68b738;
  }

  &:invalid {
    fill: red;
  }
}

@media (min-width: $tablet-width) {
  .contacts-list__item {
    margin-bottom: 17px;
  }

  .contacts-list__image {
    top: 17px;
    left: 595px;

    &--top {
      top: 19px;
    }
  }

  .contacts-list__window {
    margin-left: 19px;
  }

  .contacts-list__window--email {
    padding-left: 22px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1220px;
  }

  .contacts-list__item {
    width: 570px;
  }

  .contacts-list__image {
    left: 534px;
  }
}
