.example {
  margin-top: 22px;
  padding-top: 17px;

  background-color: #f2f2f2;
}

.example__header {
  margin: 0;
  padding-left: 20px;
  padding-bottom: 23px;

  @include font(36px, 60px, 400);
}

.example__description {
  margin: 0;
  padding-left: 20px;
  width: 266px;

  @include font(14px, 18px, 400);
  font-family: $second-font;
}

.example__list {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0;
  padding-top: 29px;
  padding-left: 20px;
  padding-bottom: 34px;

  list-style: none;
}

.example__item {
  margin-top: -4px;
}

.example__item-border {
  position: relative;

  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  text-align: center;

  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.example__item-result {
  padding: 12px 43px 18px 43px;

  @include font(24px, 24px, 400);
  text-transform: uppercase;

  &--padding {
    padding: 12px 23px 18px 23px;
  }
}

.example__item-description {
  position: absolute;
  top: 47px;
  left: 20px;

  width: 82px;

  @include font(12px, 12px, 400);
  font-family: $second-font;
  text-transform: lowercase;

  background-color: #f2f2f2;
}

.example__expenses {
  @include font(14px, 20px, 400);
  text-transform: uppercase;
  text-align: center;
}

.example__image img {
  padding-top: 34px;
  padding-bottom: 40px;
}

.example__result {
  display: flex;
  justify-content: space-between;
  padding-bottom: 39px;
  margin: 0 auto;
  margin-top: -11px;
  width: 197px;
}

.example__result-start,
.example__result-end {
  @include font(16px, 20px, 400);
  text-transform: uppercase;
}

.example__result-track {
  position: relative;

  width: 82px;
  height: 12px;
  margin-top: 3px;

  background-color: white;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
}

.example__result-track::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;

  width: 35px;
  height: 6px;

  background-color: $main-color;
  border-radius: 10px;
}

@media (min-width: $tablet-width) {
  .example {
    position: relative;

    padding-top: 23px;

    background-color: white;
  }

  .example__header {
    padding-left: 30px;
    margin-bottom: 40px;

    @include font(60px, 60px, 400);
  }

  .example__description {
    width: 680px;
    padding-left: 30px;

    @include font(16px, 24px, 400);
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .example__list {
    width: 370px;
    margin: 0;
    padding-left: 30px;
    padding-bottom: 249px;
    padding-top: 54px;
  }

  .example__item-result {
    padding: 17px 54px 17px 58px;

    @include font(30px, 37px, 400);

    &--padding {
      padding: 17px 30px;
    }
  }

  .example__item-description {
    width: 114px;
    top: 66px;
    left: 24px;

    @include font(14px, 14px, 400);

    background-color: white;

    &--padding {
      width: 142px;
      left: 10px;
    }
  }

  .example__expenses {
    width: 175px;
    margin-top: 60px;
    margin-right: 31px;

    @include font(20px, 30px, 400);
    text-align: right;
  }

  .example__image img {
    position: absolute;
    top: 396px;
    left: 46px;
  }

  .example__result {
    margin-top: 9px;
    padding-top: 368px;
    padding-bottom: 67px;
    width: auto;

    background: linear-gradient(to left, #eaeaea 50%, #f2f2f2 50%);
  }

  .example__result-start {
    margin-left: 100px;
    padding-bottom: 6px;

    @include font(20px, 20px, 400);

    border-bottom: 1px dotted #bebebe;

    &:hover {
      border-bottom: 1px solid #989898;
    }

    &:active {
      border-bottom: none;
    }
  }

  .example__result-end {
    margin-right: 100px;
    padding-bottom: 6px;

    @include font(20px, 20px, 400);

    border-bottom: 1px dotted #bebebe;

    &:hover {
      border-bottom: 1px solid #989898;
    }

    &:active {
      border-bottom: none;
    }
  }

  .example__result-track {
    width: 430px;
    height: 6px;
    margin-top: 7px;

    background-color: #dcdcdc;
    border: none;
  }

  .example__result-track::before {
    top: -1px;
    left: 214px;
    z-index: 1;

    width: 8px;
    height: 8px;
  }

  .example__result-track::after {
    content: "";
    position: absolute;
    top: -14px;
    left: 201px;

    width: 32px;
    height: 32px;

    background-color: white;
    border: 1px solid #cfcfcf;
    border-radius: 50%;
    box-shadow: 0 2px 4px #d6d6d6;

    &:hover {
      box-shadow: 0 6px 2px #d6d6d6;
    }

    &:active {
      border: 1px solid $main-color;
      box-shadow: 0 6px 2px #d6d6d6;
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    margin-top: -22px;
    width: 1440px;
  }

  .example__header {
    padding-left: 110px;
    margin-bottom: 48px;
  }

  .example__description {
    width: 433px;
  }

  .example__list {
    padding: 0;
    padding-top: 70px;
    padding-bottom: 57px;
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 370px;
    padding-left: 30px;
  }

  .example__expenses {
    display: flex;
    justify-content: space-between;
    width: 327px;
    margin-top: 0;
  }

  .example__image img {
    position: absolute;
    top: -66px;
    left: 680px;
  }

  .example__result {
    width: 670px;
    padding-top: 0;
    padding-right: 110px;
    margin-right: 2px;
    margin-top: -25px;
    padding-bottom: 65px;

    text-align: right;

    background: linear-gradient(to left, #eaeaea 50.5%, #f2f2f2 50%);
  }

  .example__wrapper-background {
    padding-top: 76px;
    padding-left: 80px;

    background: linear-gradient(to left, #eaeaea 27.5%, #f2f2f2 27%);
  }

  .example__item-description {
    background-color: #f2f2f2;
  }

  .example__result-end {
    margin-right: 0;
  }
}
