.main-nav {
  position: relative;
}

.main-nav__list {
  margin: 0 auto;
  padding: 0;

  text-align: center;

  list-style: none;
}

.main-nav__toggle {
  position: absolute;
  top: -62px;
  left: 280px;

  @include toggle();
  background-image: url("../img/icon-mobile-menu.svg");
}

.main-nav--opened .main-nav__toggle {
  @include toggle();
  background-image: url("../img/icon-close.svg");
}

@media (max-width: $mobile-width-only) {
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }

  .main-nav--close .main-nav__list {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 440px;
    margin-left: 96px;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    width: 480px;
    margin-left: 407px;
    padding-left: 132px;
    padding-right: 110px;
    padding-bottom: 590px;

    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 720px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .main-nav__list--wrapper {
    padding-bottom: 0;

    background-image: none;
  }
}
