.map {
  position: relative;

  background-color: white;

  &--color {
    background-color: #f2f2f2;
  }
}

.map__wrapper {
  display: flex;
  justify-content: space-around;
  width: 280px;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 26px;
}

.map__title {
  margin: 0;

  @include font(16px, 20px, 400);
  text-transform: uppercase;
}

.map__wrapper-address {
  width: 177px;
}

.map__address {
  margin: 0;

  @include font(14px, 20px, 400);
  font-family: $second-font;
}

.map__image {
  background-color: #f2f2f2;
}

.map__iframe {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .map__wrapper {
    justify-content: space-between;

    width: 653px;
    padding-top: 65px;
    padding-bottom: 51px;
  }

  .map__title {
    width: 160px;

    @include font(20px, 25px, 400);
  }

  .map__address {
    width: 155px;

    @include font(16px, 20px, 400);
    text-align: right;
  }

  .map__address:nth-child(1) {
    margin-bottom: 20px;
  }

  .map__wrapper-address {
    width: 184px;
  }
}

@media (min-width: $desktop-width) {
  .map-container {
    position: relative;

    width: 1440px;
    margin: 0 auto;
  }

  .map__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;

    padding-left: 76px;
    padding-right: 76px;
    width: 427px;

    background-color: white;
  }

  .map__address {
    text-align: left;
  }

  .map__wrapper-address {
    width: 177px;
  }
}
