.map {
  background-color: white;

  &--color {
    background-color: #f2f2f2;
  }
}

.map__wrapper {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  padding-top: 31px;
  padding-bottom: 26px;
}

.map__title {
  margin: 0;

  @include font(16px, 20px, 400);
  text-transform: uppercase;
}

.map__address {
  margin: 0;

  @include font(14px, 20px, 400);
  font-family: $second-font;
}

.map__image {
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .map__wrapper {
    width: 630px;
    padding-top: 68px;
    padding-bottom: 64px;
  }

  .map__title {
    width: 160px;

    @include font(20px, 25px, 400);
  }

  .map__address {
    width: 155px;

    @include font(16px, 20px, 400);
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .map {
    position: relative;
  }

  .map__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;

    padding-left: 76px;
    padding-right: 90px;
    width: 403px;

    background-color: white;
  }
}
