.name-list {
  padding-bottom: 11px;

  border-bottom: 1px solid #e6e6e6;
}

.name-list__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 14px;
}

.name-list__value {
  margin-top: 15px;
}

.name-list__window {
  flex-grow: 1;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 12px;
  margin-left: 15px;

  text-transform: uppercase;

  border: 1px solid #e6e6e6;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active {
    border: 1px solid black;
  }

  &:invalid {
    border: 1px solid red;
  }
}

@media (min-width: $tablet-width) {
  .name-list {
    padding-bottom: 51px;

    border-bottom: none;
  }

  .name-list__item {
    margin-bottom: 22px;
  }

  .name-list__window {
    margin-left: 20px;
    padding-left: 18px;
  }
}

@media (min-width: $desktop-width) {
  .name-list {
    width: 570px;
  }
}
