.page-header {
  @include font(20px, 20px, bold);
  color: black;
  text-transform: uppercase;

  border-bottom: 1px solid #e6e6e6;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.page-header__logo-image img {
  margin-left: 20px;
  margin-top: 11px;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;

    @include font(18px, 25px, 400);

    border-bottom: none;
  }

  .page-header__logo-image img {
    width: 172px;
    height: 57px;
    margin-top: 24px;
    margin-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    @include font(20px, 25px, 400);
  }

  .page-header__logo-image img {
    width: 202px;
    height: 60px;
    margin-left: 110px;
    margin-top: 54px;
  }
}
