.page-footer {
  background-color: #f2f2f2;
}

.page-footer__logo-image {
  margin: 0;
  padding-top: 39px;
  padding-bottom: 31px;
  padding-left: 96px;

  text-align: center;

  border-bottom: 1px solid #d9d9d9;
}
