.page-header {
  @include font(20px, 20px, 500);
  color: black;
  text-transform: uppercase;

  border-bottom: 1px solid #e6e6e6;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.page-header__logo-image img {
  margin-left: 20px;
  margin-top: 11px;
}

.page-header__logo-big img {
  display: none;
}

.page-header__logo-desktop img {
  display: none;
}

.page-header__toggle {
  @include toggle();
  background-image: url("../img/icon-mobile-menu.svg");
}

.page-header__toggle-close {
  display: none;

  @include toggle();
  background-image: url("../img/icon-close.svg");
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;

    @include font(18px, 25px, 400);

    border-bottom: none;
  }

  .page-header__toggle,
  .page-header__toggle-close {
    display: none;
  }

  .page-header__logo-image img {
    display: none;
  }

  .page-header__logo-big img {
    display: block;
    margin-top: 24px;
    margin-left: 30px;
  }

  .page-header__logo-desktop img {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    @include font(20px, 25px, 400);
  }

  .page-header__logo-big img {
    display: none;
  }

  .page-header__logo-desktop img {
    display: block;
    margin-left: 110px;
    margin-top: 54px;
  }
}
