.program {
  width: 280px;
  margin: 0 auto;
}

.program__list {
  margin: 0;
  padding: 0;
}

.program__item {
  margin: 0;
  margin-bottom: 2px;

  background-color: #f2f2f2;

  list-style: none;
}

.program__wrapper {
  padding-top: 22px;
  padding-left: 20px;
  padding-bottom: 22px;
  padding-right: 20px;
}

.program__image-title {
  position: relative;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.program__image {
  z-index: 1;

  margin-top: -1px;
  margin-left: 11px;

  &--padding {
    margin-top: 12px;
    margin-left: -6px;
  }
}

.program__background {
  position: absolute;
  top: 2px;
  left: 3px;

  width: 50px;
  height: 50px;

  background-color: $main-color;
  border-radius: 50%;
}

.program__title {
  margin: 0;
  padding-right: 59px;
  padding-top: 7px;

  &--padding {
    padding-right: 32px;
    padding-bottom: 5px;
  }

  @include font(24px, 37px, 400);
  text-transform: uppercase;
}

.program__description {
  margin: 0;
  padding-top: 24px;
  padding-bottom: 23px;
  margin-bottom: 22px;

  @include font(14px, 18px, 400);
  font-family: $second-font;

  border-bottom: 1px solid #d9d9d9;
}

.program__catalog-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 120px;
}

.program__catalog {
  margin-top: -3px;

  @include font(16px, 16px, 400);
  text-transform: uppercase;
  color: black;

  text-decoration: none;

  &:active {
    color: #c5c6c6;
  }
}

.program__catalog-arrow {
  width: 24px;
  height: 11px;
  margin-top: 0;

  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;

  &:hover {
    width: 33px;

    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active {
    width: 33px;

    background-image: url("../img/icon-right-arrow-verylong-active.svg");
  }
}

@media (min-width: $tablet-width) {
  .program {
    width: 708px;
  }

  .program__wrapper {
    padding-left: 55px;
    padding-top: 68px;
    padding-right: 62px;
    padding-bottom: 62px;
  }

  .program__description {
    width: 372px;
    padding-bottom: 63px;
    margin-bottom: 0;

    @include font(16px, 24px, 400);

    border-bottom: none;
  }

  .program__item:nth-child(1) {
    margin-bottom: 30px;
  }

  .program__image {
    position: absolute;
    top: 12px;
    left: 400px;

    width: 166px;
    height: 194px;

    &--padding {
      top: 53px;
      left: 365px;

      width: 269px;
      height: 112px;
    }
  }

  .program__background {
    top: 23px;
    left: 393px;

    width: 200px;
    height: 200px;
  }

  .program__background--padding {
    top: 20px;
    left: 395px;
  }

  .program__title {
    @include font(36px, 37px, 400);
  }

  .program__catalog {
    @include font(20px, 20px, 400);
  }

  .program__catalog-wrapper {
    margin-top: -3px;
    width: 155px;
  }

  .program__catalog-arrow {
    margin-top: 3px;
  }

  .program__description--width {
    width: 340px;
    padding-top: 21px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    width: 1220px;
    margin-top: 54px;
  }

  .program__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .program__item {
    width: 570px;
    margin-bottom: 30px;
  }

  .program__title {
    padding-top: 35px;
    padding-right: 136px;
  }

  .program__title--padding {
    padding-right: 95px;
  }

  .program__image {
    position: static;

    width: 71px;
    height: 97px;
    padding-left: 1px;

    &--padding {
      width: 134px;
      height: 56px;
      padding-bottom: 9px;
      padding-top: 18px;
      margin-left: -19px;
    }
  }

  .program__background {
    top: 7px;
    left: -1px;

    width: 100px;
    height: 100px;

    &--padding {
      top: 6px;
      left: 0;
    }
  }

  .program__description {
    width: 465px;
    padding-top: 50px;
    padding-bottom: 35px;
  }

  .program__wrapper {
    padding-left: 53px;
    padding-top: 41px;
    padding-right: 56px;
    padding-bottom: 62px;
  }
}
