.site-list__item a {
  color: black;

  text-decoration: none;
}

.site-list__item {
  margin-bottom: 24px;
  padding-top: 24px;

  border-top: 1px solid #e6e6e6;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    margin-top: 19px;
    padding-bottom: 8px;

    border-top: none;

    &--active {
      border-bottom: 2px solid $main-color;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    margin-top: 43px;

    &--active {
      border-bottom: 2px solid white;
    }
  }

  .site-list__item a {
    color: white;
  }

  .site-list__item a[href] {
    &:hover {
      color: #cadfc1;
    }

    &:active {
      color: #87bc67;
    }
  }

  .active {
    border-bottom: 2px solid $main-color;
  }

  .site-list__item--wrapper a {
    color: black;
  }

  .site-list__item--wrapper a[href] {
    &:hover {
      color: #707070;
    }

    &:active {
      color: #b7b7b7;
    }
  }
}
