.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 125px;
  margin: 0;
  margin-left: 20px;
  padding: 19px 82px 21px 73px;

  border-bottom: 1px solid #d9d9d9;

  list-style: none;
  text-decoration: none;
}

.social-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: -1px 22px 21px 20px;
}

.social-list__item--big {
  display: none;
}

.social-list__item--small,
.social-list__item--big {
  &:hover {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.5;
  }
}

.social-list__item--inst {
  path:hover {
    fill: #68b738;
  }

  path:active {
    fill: #68b738;
    opacity: 0.5;
  }
}

@media (min-width: $tablet-width) {
  .social-list {
    padding-top: 60px;
    padding-bottom: 62px;
    padding-right: 112px;
    margin-left: 0;

    border-bottom: none;
  }

  .social-list__item--big {
    display: block;
  }

  .social-list__item--small {
    display: none;
  }
}
