.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 125px;
  margin: 0;
  margin-left: 20px;
  padding: 22px 82px 21px 73px;

  border-bottom: 1px solid #d9d9d9;

  list-style: none;
  text-decoration: none;
}

.social-list__item--vk {
  width: 22px;
  height: 12px;

  background-color: #f2f2f2;
  background-image: url("../img/icon-vk-mobile.svg");
  background-repeat: no-repeat;
}

.social-list__item--inst {
  width: 16px;
  height: 16px;

  background-color: #f2f2f2;
  background-image: url("../img/icon-insta-mobile.svg");
  background-repeat: no-repeat;
}

.social-list__item--fb {
  width: 10px;
  height: 19px;

  background-color: #f2f2f2;
  background-image: url("../img/icon-fb-mobile.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .social-list {
    padding-top: 60px;
    padding-bottom: 62px;
    padding-right: 112px;
    margin-left: 0;

    border-bottom: none;
  }

  .social-list__item--vk {
    width: 30px;
    height: 16px;

    background-image: url("../img/icon-vk.svg");
  }

  .social-list__item--inst {
    width: 23px;
    height: 23px;

    background-image: url("../img/icon-insta.svg");
  }

  .social-list__item--fb {
    width: 14px;
    height: 28px;

    background-image: url("../img/icon-fb.svg");
  }
}
